*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

header{
    min-height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,  rgb(0, 255, 13), rgba(90, 247, 85, 0.438) );
}

main{
    width: 100%;
    min-height: 598px;
    height: 500px;
    display: flex;
    background: linear-gradient(to top, rgb(0, 255, 255), rgb(92, 184, 201) );    
    box-shadow: insert 0px 2px 3px rgba( 0,0,0,0);
    margin-top: 0%;
}

main section{
    margin-top: 5%;
    width: 50%;
    height: 85vh;
    position: relative;
    bottom: 8%;
    border-radius: 18px;
    padding: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 23%;
    background: linear-gradient(to bottom,  rgb(132, 0, 255), rgba(140, 0, 255, 0.438));
}